findAModernCafe/templates
findAModernCafe/static
findAModernCafe/requirements.txt
VBS/books-collection.db
MyMovieWatchList/templates
MyMovieWatchList/static
MyMovieWatchList/secret.py
CAFEAPI/instance
CAFEAPI/requirements.txt
Blog/templates
Blog/static
Blog/instance
Blog/requirements.txt
userManagementSite/instance
userManagementSite/static
userManagementSite/requirements.txt

